In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('breast-cancer-wisconsin1.data')

In [4]:
df.head()

   1000025  5   1  1.1  1.2  2  1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7   10  3    2    1    2
1  1015425  3   1    1    1  2    2  3    1    1    2
2  1016277  6   8    8    1  3    4  3    7    1    2
3  1017023  4   1    1    3  2    1  3    1    1    2
4  1017122  8  10   10    8  7   10  9    7    1    4