In [6]:
import pandas as pd

df = pd.read_csv("ECDCCases.csv")

In [37]:
import numpy as np
for col in df.keys():
    pct_missing = df[col].isna().sum() / df[col].size
    print('{} - {:.2f}%'.format(col, pct_missing*100))

dateRep - 0.00%
day - 0.00%
month - 0.00%
year - 0.00%
cases - 0.00%
deaths - 0.00%
countriesAndTerritories - 0.00%
geoId - 0.44%
countryterritoryCode - 0.20%
popData2019 - 0.20%
continentExp - 0.00%
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000 - 4.65%

In [76]:
df = df.drop(columns=df.isna().sum().sort_values()[-2:].index.tolist())

In [77]:
df.isna().sum()

dateRep                      0
day                          0
month                        0
year                         0
cases                        0
deaths                       0
countriesAndTerritories      0
countryterritoryCode       123
popData2019                123
continentExp                 0
dtype: int64

In [78]:
df['countryterritoryCode'] = df['countryterritoryCode'].fillna('other')
df['popData2019'] = df['popData2019'].fillna(df['popData2019'].median())

In [79]:
df.isna().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
countryterritoryCode       0
popData2019                0
continentExp               0
dtype: int64

In [80]:
df.describe()

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.091909e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529798e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

In [81]:
df[df['deaths'] > 3000]['countriesAndTerritories'].unique()

array(['Argentina', 'Ecuador', 'Mexico', 'Peru',
       'United_States_of_America'], dtype=object)

In [82]:
len(df[df['deaths'] > 3000]['dateRep'].unique())

11

In [83]:
df = df.drop_duplicates()

In [85]:
import pandas as pd

df2 = pd.read_csv("bmi.csv")

In [87]:
northwest = df2[df2['region'] == 'northwest']

In [88]:
southwest = df2[df2['region'] == 'southwest']

In [90]:
import scipy.stats as sts

# Проверка выборки из региона northwest на нормальность
sts.shapiro(northwest['bmi'])

ShapiroResult(statistic=0.9954643249511719, pvalue=0.46545225381851196)

In [92]:
# Проверка выборки из региона southwest на нормальность
sts.shapiro(southwest['bmi'])

ShapiroResult(statistic=0.994927167892456, pvalue=0.3630009591579437)

In [93]:
# Проверка выборок из регионов на гомогенность
sts.bartlett(northwest['bmi'], southwest['bmi'])

BartlettResult(statistic=3.4000745256463825, pvalue=0.06519347353580048)

In [95]:
# t-критерий Стьюдента
sts.ttest_ind(northwest['bmi'], southwest['bmi'])

Ttest_indResult(statistic=-3.2844171500398582, pvalue=0.001076958496307695)

In [97]:
import pandas as pd
import scipy.stats as sts


cube_data = pd.DataFrame([[1, 97, 100],
                         [2, 98, 100],
                         [3, 109, 100],
                         [4, 95, 100],
                         [5, 97, 100],
                         [6, 104, 100]],
                        columns=['Point', 'Observed', 'Expected'])
print(sts.chisquare(cube_data['Observed'], cube_data['Expected']))

Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

In [98]:
import pandas as pd
import scipy.stats as sts


data = pd.DataFrame({'Женат': [89,17,11,43,22,1],
                     'Гражданский брак': [80,22,20,35,6,4],
                     'Не состоит в отношениях': [35,44,35,6,8,22]})
data.index = ['Полный рабочий день',
              'Частичная занятость',
              'Временно не работает',
              'На домохозяйстве',
              'На пенсии',
              'Учёба']
data

                      Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день      89                80                       35
Частичная занятость      17                22                       44
Временно не работает     11                20                       35
На домохозяйстве         43                35                        6
На пенсии                22                 6                        8
Учёба                     1                 4                       22

In [101]:
sts.chi2_contingency(data)

(122.29654948595365,
 1.7291616900960234e-21,
 10,
 array([[74.664, 68.136, 61.2  ],
        [30.378, 27.722, 24.9  ],
        [24.156, 22.044, 19.8  ],
        [30.744, 28.056, 25.2  ],
        [13.176, 12.024, 10.8  ],
        [ 9.882,  9.018,  8.1  ]]))